@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100hv;
    font-family: "inter",serif;
}
header{
    width: 100%;
    display: flex;
    padding: 20px 50px;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 35px;
    color:  #2F3A3B;
}
.header-sign{
    display: flex;
    gap: 25px;
}
.in , .up{
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: #494949;
    font-weight: 400;
}
.up{
    color: #003478;
    border: 1px solid #003478;
    font-weight: 600;
}
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 60vh;
}
.lines{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 15px;
    position: relative;
}
.lines div{
    width: 100%;
    height: 66px;
    background-color: #303231;
    color: white;
}
.mustang{
    display: flex;
    align-items: center;
    width: 100%;
}
.mustang-img{
    position: absolute;
    right: -600px;
    top: 50%;
    transform: translateY(-52.1%);
}
.hero-text{
    position: absolute;
    z-index: 111;
    top: 0;
    transform: rotateY('angle');
    left: 10px;
    transform: translateY(-68%);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 50px;
}
/* .hero-text-owner{
    width: 80%;
    display: flex;
    padding: 20px 50px;
    justify-content: space-around;
}  */
.hero-text h1{
    color: #000000;
    font-size: 72px;
    font-weight: 300;
    line-height: 68px;
    text-transform: uppercase;
}
.hero-text h1 span{
    color: #fbaa0c;
    font-weight: 700;
}
.hero-text p{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
    color: rgb(0, 0, 0);
}
.hero-text p span{
    font-size: 30px;
}
.hero-text div button{
    border: none;
    background-color: #003478;
    padding: 15px 20px;
    color: #000000;
}
.hero-text div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#diferent{
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
}
.different-img{
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #003478; 
}