
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body{
    height: 500vh;
    display: flex;
    flex-direction: column;
}
header{
    padding: 11.14px 100.23px 11.14px 100.23px;
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.all-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 16.71px;
    font-size: 11.14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.nav-bar{
    display: flex;
    gap: 22.27px;
    align-items: center;
}
.nav-bar button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 2.78px;
    padding: 9.74px 22.27px 9.74px;
    font-weight: 500;
    font-size: 11.14px;
    line-height: 16.71px;
    text-align: center;
}
.hero{
    /* position: absolute; */
    padding: 66.82px 100.23px 66.82px 100.23px; 
    background-color: #f5f7f5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72.29px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    gap: 11.14px;
}
.hero-text h1{
    font-size: 44.55px;
    font-weight: 500;
    line-height: 52.9px;
}
.hero-text span{
    color: green;
}
.hero-text p{
    font-size: 11.14px;
    font-weight: 400;
    color: #717171;
    line-height: 16.72px;
}
.hero-text button{
    padding: 
    9.74px 22.27px 9.74px 22.27px;
    border-radius: 2.72px;
    background-color:  #4CAF4F;
    border: none;
    color: white;
    font-size: 11.14px;
    font-weight: 500;
    line-height: 16.71px;
    margin-top: 10px;
}

/* .done{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.done div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4CAF4F; */
/* } */
main{
    display: flex;
    flex-direction: column;
    gap: 27.84px;
}
.clients{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.client-text{
    gap: 5.57px;
    width: Fixed (772.64px);
    height: Hug(53.57px);
}
.client-text h2{
    width: 772.64px;
    Height: 31px;
}
.client-text p{
    width: 772.64px;
    Height: 31px;   
}
.div-container{
    width: Fill (801.87px);
    height: Fixed (68.21px);
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.manage{ 
    width: fixed(1002.34px);
    height: 84.57px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.57px;
} 
.manage-h1{
    width: 377.27px;
    /* height: 62px; */
    font-weight: 600;
    font-size: 25.06px;
    line-height: 30.63px;
}
 .manage-p{
    width: 1002.34px;
    height: 17px;
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.71px;
} 
.national-div-main{
    width: fixed(1,002.34px);
    height: hug(196.1px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100.23px;
    padding-left: 100.23px;
}
.membership{
    width: fixed(208.12px);
    height: hug(182.1px);
    border-radius: 5.57px;
    padding: 16.71px 22.27px 16.71px 22.27px;
    gap: 5.57px;
}
.membership h2{
    width: 185.85px;
    height: 51px;
    font-weight: 700;
    font-size: 19.49px;
    line-height: 25.06px;
}
.membership p{
    width: hug(174.71px);
    height: hug(42px);
    gap: 5.57px;
}